/* Filename: CounterFraction.css */
.counter-fraction {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: -50px; /* Adjust based on actual layout and spacing */

    position: absolute; /* Absolute position inside the relative counter-container */
    left: 60%; /* Place the fraction to the right end of the counter-wrapper */
    top: 50%; /* Start at the vertical center of counter-container */
    transform: translateY(-50%); /* Center it vertically around its center */
}

/* Continue from previous fraction CSS */
.fraction-line {
    height: 1px;
    background-color: #528589;
    width: 100%;
}

.fraction-numerator, .fraction-denominator {
    font-size: 1em; /* One-third the size of the main counter */
    color: #528589; /* Same color as the main counter */
}

.fraction-denominator {
    
    padding-top: 2px;
}

body {
}
