/* Filename: App.css */

/* Global reset — ensures margin and padding consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App-wide styles */
body, html, #root {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.App {
    text-align: center;
    background-color: #97f3fe; /* Light Blue background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.App-header {
    width: 100%;
    max-width: 600px; /* Limit the width for larger screens */
    margin: auto;
}

/* Responsive design for smaller devices */
@media (max-width: 600px) {
    .App-header {
        width: 90%;
    }
}
